<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>站点搜索</title>
  <link rel="stylesheet" href="../css/main.css">
 </head>
 <body>
  <div class="banner">
	<div class="header">
		 <div class="container">
			 <div class="logo">
				 <h1><a>站点模糊搜索系统</a></h1>
			 </div>
		 </div>
	 </div>
	 <div class="top-menu">
		 <div class="container">
			 <nav class="cl-effect-1">
			 <ul>
				 <li><a class="scroll" href="/routeSearch">出行规划</a></li>
				 <li><a class="scroll" href="/lineSearch">线路搜索</a></li>
				 <li><a class="scroll" href="/stationInfo">站点情况</a></li>
				 <li><a class="scroll" href="../index.html">返回首页</a></li>
			 </ul>
			 </nav>
		 </div>
	 </div>
	 <div class="banner-form">
		 <div class="container">
			 <p>请在下面输入您的关键词，不能少于两个汉字噢</p><br>
			 <form action="/stationSearch" method="post">
				<input type="text" name="searchStr" placeholder="关键词">
				<input type="submit" value="提交">
			</form><br>
			<p>{{searchInfo|safe}}</p>
		 </div>
	 </div>
</div>
 </body>
</html>
